{% extends './authBase.html' %} {% load static %} {% block style %}
<style>
  .auth {
    height: 530px;
  }
</style>
{% endblock %} {% block content %}
<div class="auth_box">
  <h1 class="auth_heading">Programming Voting App</h1>
  <div class="auth">
    <img class="avatar" src="{% static '/images/avatar.png' %}" />
    <div class="auth_content">
      <h3>Sign Up</h3>
      <form action="{% url 'sign_up' %}" method="POST">
        {% if message %}
        <p class="message">{{message}}</p>
        {% endif %} {% csrf_token %}
        <p>Full Name</p>
        <input
          autocomplete="off"
          name="user_name"
          id="user_name"
          type="text"
          placeholder="Enter your name"
        />
        <p>Email</p>
        <input
          autocomplete="off"
          name="user_email"
          id="user_email"
          type="email"
          placeholder="Enter your email"
        />
        <p>Password</p>
        <input
          autocomplete="off"
          name="user_password"
          id="user_password"
          type="password"
          placeholder="Enter your password"
        />
        <p>Password Confirmation</p>
        <input
          autocomplete="off"
          name="user_password_again"
          id="user_password_again"
          type="password"
          placeholder="Enter your password again"
        />
        <button type="submit" onclick="return validate()">Sign Up</button>
      </form>
      <div class="acc">
        <a href="{% url 'sign_in' %}">Have an Account?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
